<div class="container">
    <div class="header">
      <div class="user-info" *ngIf="isLoggedIn">
        <img [src]="userImage" alt="User Image" class="user-image"/>
        <span>{{ userName }}</span>
      </div>
      <img *ngIf="!isLoggedIn" src="../assets/google.jpg" alt="Google Logo" class="google-logo"/>
      <button *ngIf="!isLoggedIn" (click)="login()" class="signin-button">
        Sign in with Google
      </button>
      <button *ngIf="isLoggedIn" (click)="signOut()" class="signout-button">Logout</button>
    </div>
  </div>
  <p *ngIf="!isLoggedIn">Please log in to view comment box and comments</p>



<router-outlet></router-outlet>